.logoHome{
    position: absolute;
    top: 2%;
    left: 10%;
    transform: translateX(-50%);
}

.nameText{
    position: absolute;
    top: 1.8%;
    left: 24%;
    transform: translateX(-50%);
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: #106aa0;
}

.profileImg{
    position: absolute;
    top: 4%;
    left: 90%;
    transform: translateX(-50%);
    max-width: 80px;
}

.cover{
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    border-radius: 5%;
}

.surveyContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: #f6f6f6;
}

.surveyBtn1{
    flex: 1 1 auto;
    margin: 7px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 5px 5px 10px #dadada;
    border-radius: 10px;
    border-color: #ffffff; /* Add this line */
    color: rgb(60, 60, 60);
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    white-space: pre-wrap;

    width: 100px;
    height: 100px;
    text-align: center;

    vertical-align: top;
    background-image: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 140%);

}

.appoiContainer{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-48.5%, -50%);
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.appoiBtn1{
    flex: 1 1 auto;
    margin: 5px;
    padding: 1px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    border-color: #e8efff; /* Add this line */
    color: rgb(60, 60, 60);
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    white-space: pre-wrap;
    box-shadow: 5px 5px 10px #dadada;


    width: 170px;
    height: 70px;
    text-align: center;

    color: #ffffff;
    vertical-align: top;
    background-image: linear-gradient(to bottom, #106aa0 0%,#23479a 130%);
    
}

.programBtn{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 10%;

    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    border-color: #ffffff; /* Add this line */
    color: rgb(60, 60, 60);
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    white-space: pre-wrap;
    text-align: center;

    vertical-align: top;

    color: rgb(60, 60, 60);
    background-image: linear-gradient(to bottom, #ffffff 0%,#d6e6ff 140%);
}

.chat{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 10%;

    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    border-color: #ffffff; /* Add this line */
    color: rgb(60, 60, 60);
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    white-space: pre-wrap;
    text-align: center;

    vertical-align: top;

    color: rgb(60, 60, 60);
    background-image: linear-gradient(to bottom, #ffffff 0%,#d6e6ff 140%);
}
